<div class="card-body border">
    <h3>
        Educación
        <i class="fa-solid fa-circle-plus add" routerLink="/nuevaedu" *ngIf="authService.loggedIn()"></i>
    </h3>
    <div class="row" *ngFor="let educacion of educaciones">
        <div class="col-sm-12">
            <div class="card-body">
            <h5 class="card-title">{{educacion.titulo}}</h5>
            <p class="card-text">{{educacion.institucion}}</p>
            <p class="card-text text-muted">{{educacion.fechaInicio +" - "+ educacion.fechaFin}}</p>
            <i class="fa-solid fa-trash trash" *ngIf="authService.loggedIn()" (click)="delete(educacion.id)"></i>
            <i class="fa-solid fa-pencil pencil" *ngIf="authService.loggedIn()" routerLink="/editaredu/{{educacion.id}}"></i>
        </div>
    </div>
</div>
